<div class="masthead">
  <nav class="language-nav">
    <ul>
      <li><a href="#">CSS</a></li>
      <li><a href="#">HTML</a></li>
      <li><a href="#">Javascript</a></li>
      <li><a href="#">Ruby</a></li>
    </ul>
      
  </nav>
  
  <div class="logo">
    <img src="<%= image_path "AA_Times_Logo.png" %>" alt="App Academy Logo">
    
    <!-- <img src="./assets/AA_Times_Logo.png" alt=""> -->
    <!-- <img src="/assets/AA_Times_Logo-e1718475fb0f0b8b1bc532d8879cc2e9c78f23b104b0c0989a179d78fc8747fa.png" alt="App Academy Logo"> -->
  </div>
  
  <div class="masthead-links">
    <nav>
      <ul>
        <li><span>Tuesday, October 18, 2016</span></li>
        <li><a href="#">Today’s Paper</a></li>
        <li><a href="#">Video</a></li>
        <li> <span>77°F</span></li>
        <li><span>AAO</span><strong>+100%</strong></li>

      </ul>
    </nav>
  </div>
</div>

