.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav > ul > li {
  font-family: helvetica;
  font-size: 15px;
  text-transform: uppercase;
}

.right-nav > ul > li {
  font-family: sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  
  
}

.right-nav > ul > li:last-of-type {

}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  color: $lightest-gray;
}

.left-nav span {
  margin: 25px;
}


.right-nav i {
  font-size: 20px;
}